.Menu {
  background-color: #00356b;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1em;
  border-radius: 1em;
  width: 100%;
  font-family: "Source Code Pro", monospace;
}

.logo__div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;
}

h1 {
  margin-left: 2rem;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

@media only screen and (max-width: 650px) {
  .home__link, .profile__link {
    display: none;
  }
}

#menu-links a {
  margin-left: 2rem;
  padding-right: 0.5em;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
