body {
  margin: 0.5em;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./10.jpg"); */
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: left bottom;
  background-attachment: fixed;
  /* filter:blur(8px); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages__container {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  margin-top: 4rem;
  width: 100%;
}

.left__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  position: relative;
  bottom: 105px;
}

.user__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-width: 380px;
  height: 500px;
  background-color: lightgray;
  margin-bottom: 5rem;
  border-radius: 20px;
}

.user__image {
  width: 250px;
  height: 250px;
  background-color: white;
  margin: 2rem 0;
  border-radius: 50%;
}

.submit__image-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.submit__image-form input {
  background-color: white;
  margin: 0 0 1.5rem 0;
}

input#file_upload_button {
  margin-right: 1rem;
}

.new__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  width: 80%;
  min-width: 380px;
  height: 400px;
  background: lightgray;
  border-radius: 20px;
}

.message__input {
  display: block;
  margin: 2rem 0;
  transition: all ease 0.3s;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  padding: 1rem;
}

.message__input:focus {
  transform: scale(1.2);
  box-shadow: 2px 2px 8px #888888;
  outline: none;
}

button {
  transition: all ease 0.3s;
}

.send__button {
  border: 1px solid #0069d9;
  color: #0069d9;
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.send__button:hover {
  transform: scale(1.1);
  color: white;
  background-color: #0069d9;
}

.message__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.tweet__div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem;
  min-width: 400px;
  max-width: 550px;
  border: #104274 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 8px #888888;
}

.tweet__header {
  color: white;
  background-color: #104274;
  font-size: 1.1rem;
  padding: 0.5rem;
}

.tweet__body {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0rem;
}

.tweet__message {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.likes__buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tweet__likes {
  position: relative;
  top: 5px;
  left: 5px;
}

.tweet__buttons {
  display: flex;
  justify-content: flex-end;
}

.tweet__button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
}

.like__button {
  border: 1px solid #104274;
  color: #104274;
  background-color: white;
  border-radius: 5px;
}

.like__button:hover {
  transform: scale(1.1);
  color: white;
  background-color: #104274;
}

.delete__button {
  border: 1px solid #750329;
  color: #750329;
  background-color: white;
  border-radius: 5px;
}

.delete__button:hover {
  transform: scale(1.1);
  color: white;
  background-color: #750329;
}

.date__div {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.tweet__create-date {
  margin-top: 1.5rem;
  position: relative;
}

.hide {
  display: none;
}

@media only screen and (max-width: 845px) {
  .messages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left__div {
    position: relative;
    top: -20px;
  }

  .user__div {
    margin: 2rem 0;
  }

  .new__message {
    margin-bottom: 1rem;
  }

  .message__list {
    width: 100%;
  }

  .tweet__div {
    width: 400px;
  }
}
